.inputstr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#taskname{
    height: 25px;
    width: 200px;
}

#addtask{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.tasklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}